body {
    background-color: rgb(26, 5, 30);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


@font-face {
    font-family: pixelated;
    src: url("./PixeloidMono-nAOpP.ttf");
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes twinkle {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#introWrapper {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#intro {
    font-family: pixelated;
    color: white;
    -webkit-text-stroke: 0.5px rgb(109, 5, 94);
    text-align: center;
    animation: pulse 2s infinite;
    opacity: 1;
    transition: opacity 1s ease;
}


#links {
    position: absolute;
    opacity: 0;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    gap: 1vh;
    visibility: hidden;
    transition: opacity 1s ease
}

#links.mainContent {
    visibility: visible;
    opacity: 1;
}

#links img {
    width: 5vh;
    height: 5vh;
    display: block;
}

#skillsCard {
    display: flex;
    flex-direction: column;
    gap: 3.7vh;
    position: absolute;
    top: 110vh;
    left: 32%;
    transform: translateY(0);
    background: rgba(20, 0, 30, 0.7);
    border: 2px solid #8f3fff;
    backdrop-filter: blur(20px);
    border-radius: 10%;
    width: 15%;
    height: 45%;
    box-shadow:
        0 0 0 1vh #8f3fff,
        0 0 0 2vh rgba(143, 63, 255, 0.4),
        0 0 0 3vh rgba(143, 63, 255, 0.2);
    z-index: 2;
    transition: transform 1s;
}

#skillsCard.mainContent {
    transform: translateY(-58vh);
}


#skillsCard h3 {
    max-width: 100%;
    word-wrap: break-word;
    padding-left: 1.5vh;
    font-family: pixelated;
    font-size: 2.2vh;
    margin: 0;
    color: blueviolet;
}

#robloxIcon {
    width: 4vh;
    height: 4vh;
    margin-left: 1.5vh;
}

#botIcon {
    width: 4vh;
    height: 4vh;
    margin-left: 1.5vh;
}


.skill {
    display: flex;
    align-items: center;
    gap: 1.1vh;
}

#interestCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 110vh;
    left: 53.5%;
    transform: translateY(0);
    background: rgba(20, 0, 30, 0.7);
    border: 2px solid #8f3fff;
    backdrop-filter: blur(20px);
    border-radius: 10%;
    width: 15%;
    height: 45%;
    box-shadow:
        0 0 0 1vh #8f3fff,
        0 0 0 2vh rgba(143, 63, 255, 0.4),
        0 0 0 3vh rgba(143, 63, 255, 0.2);
    z-index: 2;
    transition: transform 1s;
}

#interestCard h3 {
    max-width: 100%;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    padding-left: 1.5vh;
    font-family: pixelated;
    font-size: 2.2vh;
    margin: 0;
    color: blueviolet;
}

.interest {
    display: flex;
    align-items: center;
    gap: 1.1vh;
}

.interest img {
    width: 10vh;
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
}

#interestCard.mainContent {
    transform: translateY(-58vh);
}

#musicControls {
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 85%;
    left: 90%;
    transform: translateX(50%);
    width: 20%;
    height: 13%;
    background-color: #000000;
    color: #8f3fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    border-radius: 3vh;
    z-index: 9999;
    box-shadow: 0 0 2vh 1vh rgb(169, 9, 255);
    transition: transform 2s ease;
}

#musicControls.mainContent {
    transform: translateX(-40%)
}

#musicControls button {
    width: 3.5vh;
    height: 3.5vh;
    font-size: 1.6vh;
    color: #8f3fff;
    background: transparent
}

#musicDisc {
    position: absolute;
    right: 80%;
    width: 30%;
    aspect-ratio: 1 / 1;
    animation: spin 4s linear infinite;
}


#songName {
    font-family: pixelated;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 85%;
    max-width: 100%;
    text-shadow: 0 0 10px purple;
    text-align: center;
}

#artistName {
    position: absolute;
    top: -10%;
    font-family: pixelated;
    text-align: center;

    max-width: 100%;
    overflow-wrap: break-word;

    font-size: 85%;
}


.cards {
    font-family: pixelated;
    font-size: 4.5dvh;
    color: blueviolet;
    text-shadow: 2px 2px 4px#8f3fff;
    padding-left: 1vh;
    margin-right: 100%;
    margin-bottom: 0;
}

#topLayer {
    height: 0%;
    overflow: hidden;
    transition: height 1s ease;
}

#profile {
    position: absolute;
    top: 110vh;
    left: 50%;

    width: 10%;
    height: 20%;
    border-radius: 50%;
    background-color: purple;
    background-image: url(me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 3vh rgb(221, 24, 221);
    z-index: 2;

    transform: translate(-50%, 0);
    transition: transform 1s ease;
}

#Muneeb {
    font-family: pixelated;
    font-size: 4.5dvh;
    position: absolute;
    top: 120dvh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    white-space: nowrap;
    transition: transform 1s ease;
}

#aboutMe {
    position: absolute;
    top: 39vh;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    font-family: pixelated;
    font-size: 2.2vh;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: opacity 1s ease;
}

#aboutMe.mainContent {
    opacity: 1;
}

#Muneeb.mainContent {
    transform: translate(-50%, -90vh);
}


#profile.mainContent {
    transform: translate(-50%, -99vh);
}

#wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    height: 50%;
    transform: translate(0vw, 0vh);
    transition: transform 1s ease;
    z-index: 1;
}

#marsWrapper {
    position: absolute;
    top: 100%;
    left: 80%;
    width: 30%;
    height: 50%;
    transform: translate(0vw, 0vh);
    transition: transform 1s ease;
    z-index: 1;
}

#mars {
    width: 90%;
    height: 90%;
    background-image: url("mars.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#stars {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.star {
    position: absolute;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background: rgb(104, 4, 144);
    box-shadow: 0 10px 20px rgb(98, 4, 105);
    opacity: 0.8;
    z-index: 0;
    animation: twinkle 2s infinite alternate;
}

#marsWrapper.mainContent {
    transform: translate(0vw, -50vh);
}

#saturn.mainContent {
    transform: translate(0vw, -90vh);
}

#mars.mainContent {
    animation: float infinite 5s;
}

#saturn {
    width: 110%;
    height: 110%;

    background-image: url("saturn.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#wrapper.mainContent {
    transform: translate(0vw, -90vh);
}

#saturn.mainContent {
    animation: float infinite 5s;
}

#topLayer.mainContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(114, 56, 130, 0.825);
    border-bottom: 1px solid rgb(98, 4, 105);
    box-shadow: 0.2vh 0.4vh 3vh rgb(98, 4, 105);
    color: white;
    background-image: radial-gradient(rgba(199, 25, 248, 0.433) 1px, transparent 1px);
    background-size: 12px 12px;
    z-index: 4;
}

#topLayer h1 {
    font-family: pixelated;
}

.astra {
    color: blueviolet;
    text-shadow: 0.2vh 0.4vh 1vh rgb(198, 46, 198);
    padding: 0;
}

.dev {
    padding: 0;
    color: whitesmoke;
    text-shadow: 0.2vh 0.4vh 1vh whitesmoke;
}

.pc {
    display: inline;
}

#intro.fadeOut {
    opacity: 0;
}


@media (max-width: 1024px) {

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    body {
        background-color: rgb(26, 5, 30);
        min-height: 100dvh;
        overflow: hidden;
        position: relative;
    }

    body.mainContent {
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior: none;
        -webkit-overflow-scrolling: touch;
        position: relative;
        height: 110dvh;
    }

    #marsWrapper,
    #mars {

        display: none;
    }

    #intro {
        font-family: pixelated;
        color: white;
        -webkit-text-stroke: 0.5px rgb(109, 5, 94);

        animation: pulse 2s infinite;
        opacity: 1;
        transition: opacity 1s ease;
    }

    #profile {
        position: absolute;
        top: 120dvh;
        left: 50%;

        width: 15dvh;
        height: 15dvh;
        background-color: purple;
        background-image: url(me.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 0 3vh rgb(221, 24, 221);
        z-index: 2;

        transform: translate(-50%, 0);
        transition: transform 1s ease;
    }

    #Muneeb {
        font-size: 2.4dvh;
    }

    #Muneeb.mainContent {
        transform: translate(-50%, -96dvh);
    }

    #profile.mainContent {
        transform: translate(-50%, -110dvh)
    }

    #aboutMe {
        max-width: 100%;
    }

    #aboutMe.mainContent {
        position: absolute;
        top: 30dvh;
        padding: 0;
    }

    #skillsCard {
        width: 72vw;
        height: auto;
        position: absolute;
        left: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        transform: translateX(-50%);

    }

    #skillsCard.mainContent {
        transform: translate(-50%, -65vh);
    }

    .skill img {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    #interestCard h3 {
        font-size: 3dvw;
        flex-basis: 100%;
        padding: 0;
        margin: 0;
    }

    #skillsCard h3 {
        font-size: 3dvw;
        flex-basis: 100%;
        padding: 0;
        margin: 0;
    }

    #web {
        padding-left: 2vh;
    }


    #interestCard {
        position: absolute;
        width: 72vw;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;
        overflow-wrap: break-word;
    }

    #interestCard.mainContent {
        transform: translate(-50%, -34vh);
    }

    .interest img {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .cards {
        font-size: 8dvw;
    }


    .pc {
        display: none;
    }

    #links {
        position: absolute;
        top: 38dvh;
        margin: 0;
    }

    #musicControls {
        width: 20dvh;
        height: 12dvh;
        position: absolute;
        top: 10%;
    }

    #musicControls.mainContent.open {
        transform: translateX(-80%)
    }

    #musicControls.mainContent {
        transform: translateX(6%)
    }

    #artistName {
        font-size: 70%;
    }

    #songName {
        font-size: 60%
    }

}